<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>YihShunShiuan</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
    <style>
        @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
        body {
            font-family: 'Noto Sans TC', sans-serif;
        }
    </style>
</head>

<body style="margin-top: 100px">

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="../pm_ui/maincuspage.html" style="font-size: 30px;">奕順軒</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>


    <main role="main">




        <!-- Marketing messaging and featurettes
      ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4" style="text-align: center;">
                    <img class="rounded-circle" src="src/img/a.png" alt="Generic placeholder image" width="140" height="140">
                    <h2 style="margin-top: 30px">奶凍捲</h2>
                    <p>綿密的奶凍，佐以新鮮草莓
                        <br>搭配上鬆軟的海綿蛋糕
                        <br>甜而不膩的口感，讓你一口接一口
                        <br>
                    </p>

                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4" style="text-align: center;">
                    <img class="rounded-circle" src="src/img/b.png" alt="Generic placeholder image" width="140" height="140">
                    <h2 style="margin-top: 30px">牛軋糖</h2>
                    <p>濃郁的奶香
                        <br>香脆的夏威夷豆
                        <br>兩者相輔相成，是下午茶最好的選擇</p>

                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4" style="text-align: center;">
                    <img class="rounded-circle" src="src/img/c.png" alt="Generic placeholder image" width="140" height="140">
                    <h2 style="margin-top: 30px">鳳梨酥</h2>
                    <p>香酥的餅皮
                        <br>包覆著味道濃厚的鳳梨醬
                        <br>送禮自用兩相宜</p>

                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->


            <!-- START THE FEATURETTES -->



            <!-- /END THE FEATURETTES -->

        </div>
        <!-- /.container -->
        <div style="text-align: center;margin-top: 90px;">
            <a href="/login">
                <button style="border-radius: 10%;font-size: 20px">登入系統</button>
            </a>
        </div>
    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
</body>

</html>