<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>YihShunShiuan</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
        body {
            font-family: 'Noto Sans TC', sans-serif;
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>
                <span class="fa fa-lock"></span> 奕順軒登入系統</h1>

            <p>登入註冊</p>

            <a href="/login" class="btn btn-default">
                <span class="fa fa-user"></span> 登入</a>
            <a href="/signup" class="btn btn-default">
                <span class="fa fa-user"></span> 註冊</a>
        </div>
    </div>
</body>

</html>